.App {
  text-align: center;
  width: 50%;
  background-color: rgba(127, 255, 212, 0.336);
  height: 200px;
  border: 3px rgb(26, 18, 14) solid;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.red{
  
  color:red
}

.green{

  color:green
}

.add ,.sub , .dbl{
  width: 100px;
  font-size: larger;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
}
.add:hover{
  background-color: #61dafb;
}

.sub:hover{
  background-color: rgb(247, 129, 149);
}

.dbl:hover{
  background-color:rgb(253, 180, 90);
}

.even{
  background-color: rgba(247, 66, 66, 0.692);
  border : 3px solid rgba(0, 128, 0, 0.616);
}

.odd{
  background-color: rgba(0, 128, 0, 0.616);
  border: 3px solid rgba(247, 66, 66, 0.692);
}